<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$']],
                displayMath: [['$$', '$$']],
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'], // 跳过这些标签
            }
        };
    </script>
</head>

<body>
    <nav>
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url==item.link %}class="active" {% endif %}>
            {{ item.name }}
        </a>
        {% endfor %}
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
        {{ content }}
    </section>
    <footer>
        &copy; to me
    </footer>
</body>

</html>